:root {
  --primary--light: #fee9c3;
  --primary--tint: #fddb9b;
  --primary: #faa307;
  --primary--shade: #c88304;
  --primary--dark: #784f02;
  --secondary--light: #ffc2c2;
  --secondary--tint: #ff4747;
  --secondary: #d00000;
  --secondary--shade: #b80000;
  --secondary--dark: #7a0000;
  --gray: #777;
  --gray--light: #e0e0e0;
  --gray--shade: #adadad;
  --gray--dark: #333;
  --black: #000;
  --black--shade: #03071e;
  --white: #fff;
  --white--shade: #eee;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

section {
  padding: 9.6rem 0;
}
