/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 70px;
  width: 100%;
  background-color: var(--primary--light);
}

.header-container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 60%;
}

.header-icon {
  background-color: transparent;
  display: none;
}

.header-icon:hover,
.header-icon:active {
  cursor: pointer;
}

.header-icon--open,
.header-icon--close {
  font-size: 3rem;
  color: var(--black);
}

.header-icon--open:hover,
.header-icon--close:hover {
  color: var(--primary--shade);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4.8rem;
}

.header-link:link,
.header-link:visited {
  font-size: 2.2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in;
}

.header-link:active,
.header-link:hover {
  cursor: pointer;
  color: var(--primary--shade);
  border-bottom: 1px solid var(--primary--shade);
}

/* Hero */
.hero-section {
  height: 100vh;
  background-image: url("/img/hero/hero-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.hero-section::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4.8rem;
}

.hero-text,
.hero-form {
  align-self: center;
  justify-self: center;
}

.hero-heading {
  font-size: 6rem;
  font-weight: 700;
  color: var(--gray--light);
  line-height: 1.1;
  letter-spacing: 0.2rem;
}

.hero-subheading {
  font-size: 3rem;
  color: var(--gray--shade);
  font-weight: 300;
  line-height: 1.1;
}

.hero-form {
  width: 70%;
}

.booking--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8rem;
  background-color: var(--gray--dark);
  padding: 0.8rem;
}

.booking--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
  background-color: var(--primary);
  color: var(--black);
}

.booking--box:nth-child(2) {
  background-color: var(--primary--light);
  color: var(--black);
}

.booking--text {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

.booking--day {
  font-weight: 700;
  font-size: 4.8rem;
  margin-bottom: 0.8rem;
}

.booking--month {
  font-weight: 700;
  font-size: 2.4rem;
}

/* Intro Section */
.intro-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.intro-text {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.6;
  width: 70%;
}

/* Featured */
.featured-section {
  background-color: var(--primary--tint);
}

.featured-grid {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  grid-gap: 7.2rem;
}

.rating {
  border-right: 1px solid var(--primary);
}

.rating-star {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}

.rating-star-icon {
  font-size: 2.4rem;
  color: var(--primary);
}

.rating-count {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary--dark);
  align-self: flex-end;
}

.rating-text {
  font-size: 1.4rem;
  line-height: 1.6;
}

.rating-text--inner {
  font-weight: 700;
  color: var(--primary--dark);
}

.rating-text--link:link,
.rating-text--link:visited {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
  transition: all 0.2s ease-in;
}

.rating-text--link:hover,
.rating-text--link:active {
  color: var(--primary--dark);
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 3.2rem;
}

.review {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2.4rem;
  row-gap: 1.6rem;
}

.review-img {
  display: block;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  grid-row: 1 / span 2;
  justify-self: center;
}

.review-text {
  align-self: center;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.6;
}

.review-name {
  align-self: flex-end;
  justify-self: flex-end;
  color: var(--gray--dark);
}

/* Ammenities */
.ammenities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.2rem;
  column-gap: 6.4rem;
  justify-items: center;
}

.ammenity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1.6rem;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.7);
  border-radius: 9px;
}

.ammenity:nth-child(1),
.ammenity:nth-child(4) {
  justify-self: end;
}

.ammenity:nth-child(3),
.ammenity:nth-child(6) {
  justify-self: start;
}

.ammenity-heading {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.ammenity-icon {
  font-size: 3rem;
  color: var(--secondary);
  margin-bottom: 2.4rem;
}

.ammenity-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

/* Accommodation */
.rooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7.2rem;
}

.room {
  box-shadow: 0 3.2rem 6.4rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  overflow: hidden;
}

.room-header {
  overflow: hidden;
}

.room-image {
  display: block;
  width: 100%;
  height: 20rem;
  transition: all 0.2s ease-in;
}

.room-image:hover {
  transform: scale(1.2);
}

.room-body {
  padding: 2.4rem 4.8rem;
}

.room-title {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 1.6rem;
}

.room-features {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.room-feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.room-icon {
  color: var(--primary);
  font-size: 2.4rem;
}

.room-text {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
}

/* Foods Gallery Section */
.gallery-outer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
}

.gallery-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
}

.gallery-text {
  grid-column: span 2;
}

.gallery-image {
  width: 100%;
  height: 15rem;
  transition: all 0.2s ease-in;
}

.gallery-image:hover {
  transform: translateY(-5%);
}

/* Location Section */
.loc-section {
  background-color: var(--primary--tint);
}

#map {
  height: 30rem;
}

/* Footer section */
.footer {
  padding: 9.6rem 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4.8rem;
}

.footer-head {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--gray--shade);
  margin-bottom: 3.2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-link {
  font-size: 1.6rem;
  color: var(--gray);
  line-height: 1.5;
}

.footer-link a:link,
.footer-link a:visited {
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
  color: inherit;
  transition: all 0.2s ease-in;
}

.footer-link a:hover,
.footer-link a:active {
  border-bottom: 1px solid var(--primary--shade);
  color: var(--black);
}

.footer-logo {
  height: 1.6rem;
}

.footer-icons {
  display: flex;
  gap: 1.2rem;
}

.footer-link.footer-icons a:link,
.footer-link.footer-icons a:visited {
  border-bottom: none;
}
