---
import "../styles/component.css";
import "../styles/general.css";
import "../styles/main.css";
import "../styles/mainQuery.css";
import "../styles/utility.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AAHotel | Home Page</title>

    <!-- Fonts -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/bb00defd30.js"
      crossorigin="anonymous"></script>

    <!-- Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      is:inline
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>

    <!-- Scripts -->
    <script defer src="/map.js"></script>
    <script defer src="/misc.js"></script>
  </head>

  <body>
    <header class="header">
      <div class="header-container">
        <img class="header-logo" src="/logo/new_logo.png" alt="AAHotel Logo" />
        <button class="header-icon">
          <i class="fa-solid fa-bars header-icon--open"></i>
          <i class="fa-solid fa-x header-icon--close"></i>
        </button>
        <ul class="header-nav">
          <li class="header-text">
            <a class="header-link" href="#">Home</a>
          </li>
          <li class="header-text">
            <a class="header-link" href="#review">Reviews</a>
          </li>
          <li class="header-text">
            <a class="header-link" href="#rooms">Rooms</a>
          </li>
          <li class="header-text">
            <a class="header-link" href="#loc">Find Us</a>
          </li>
        </ul>
      </div>
    </header>
    <section id="hero" class="hero-section">
      <div class="hero-container hero-grid">
        <div class="hero-text">
          <h1 class="hero-heading mb-sm">Welcome to AAHotel</h1>
          <p class="hero-subheading">Fair Pay, Extravagant Stay</p>
        </div>
        <div class="hero-form">
          <div class="booking--container">
            <div class="booking--box">
              <p class="booking--text">Check In</p>
              <p class="booking--day">15</p>
              <p class="booking--month">Feb</p>
            </div>
            <div class="booking--box">
              <p class="booking--text">Check Out</p>
              <p class="booking--day">19</p>
              <p class="booking--month">Feb</p>
            </div>
            <a class="btn btn-primary" href="#">Book Now</a>
            <a class="btn btn-primary--outline" href="#">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    <section class="intro-section">
      <div class="container">
        <h2 class="section-heading">About Us</h2>
        <div class="intro-text-box">
          <p class="intro-text">
            We offer exclusive first-class services to all of our clients at a
            reasonable price. We have all kinds of services, ammenities and
            entertainments that are available to our clients.
          </p>
          <p class="intro-text">
            When most people are bombarded with ludicrous deals that often
            under-delivers, we make sure to sustain our performance that is not
            only on par with the current industry standard, but exceeds even
            your wildest imaginations.
          </p>
          <p class="intro-text">
            Our services are not however the only thing that we keep in mind.
            Since most vacation would not be complete without a shopping spree
            or a long walk, we took it into our hands to partner up with the
            surrounding business to provide you with everything you need.
          </p>
        </div>
      </div>
    </section>
    <section id="review" class="featured-section">
      <div class="container">
        <h2 class="section-heading">See What People Say</h2>
        <div class="featured-grid">
          <div class="rating">
            <h3 class="subsection-heading">Ratings</h3>
            <div class="rating-star">
              <i class="fa-solid fa-star rating-star-icon"></i>
              <i class="fa-solid fa-star rating-star-icon"></i>
              <i class="fa-solid fa-star rating-star-icon"></i>
              <i class="fa-solid fa-star rating-star-icon"></i>
              <i class="fa-solid fa-star-half rating-star-icon"></i>
              <span class="rating-count">4.7/5</span>
            </div>
            <p class="rating-text">
              Over <span class="rating-text--inner">250,000+</span> happy customers.<br
              />
              View it on <a class="rating-text--link" href="#">yelp</a>.
            </p>
          </div>
          <div class="featured-review">
            <h3 class="subsection-heading">Reviews</h3>
            <div class="reviews">
              <figure class="review">
                <img
                  class="review-img"
                  src="/img/reviews/ben.jpeg"
                  alt="Photo of Ben Cock"
                />
                <blockquote class="review-text">
                  I was a bit skeptical at first since the single rooms are way
                  cheaper than the surrounding hotels nearby, but boy was it
                  worth it.
                </blockquote>
                <p class="review-name">Ben Cock, Product Manager</p>
              </figure>
              <figure class="review">
                <img
                  class="review-img"
                  src="/img/reviews/sarah.jpeg"
                  alt="Photo of Sarah Muller"
                />
                <blockquote class="review-text">
                  It definitely does not lie when it comes to what I need XOXO
                  (if you know what I mean)
                </blockquote>
                <p class="review-name">Sarah Muller, VP</p>
              </figure>
              <figure class="review">
                <img
                  class="review-img"
                  src="/img/reviews/michelle.jpeg"
                  alt="Photo of Michelle Amber"
                />
                <blockquote class="review-text">
                  The food here is just outworldly. It's so good that I barely
                  eat out and that's is a statement! Especially for a food
                  vlogger like me!
                </blockquote>
                <p class="review-name">
                  Michelle Amber, Social Media "Influencer"
                </p>
              </figure>
              <figure class="review">
                <img
                  class="review-img"
                  src="/img/reviews/josh.jpeg"
                  alt="Photo of Joshua Hardy"
                />
                <blockquote class="review-text">
                  I stayed here because it is the only hotel with rooms
                  available, but the longer I stay the more I feel that it is
                  fate that brought me here.
                </blockquote>
                <p class="review-name">Joshua Hardy, Software Engineer</p>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="features" class="ammenities-section">
      <div class="container">
        <h2 class="section-heading">Ammenities</h2>
        <div class="ammenities">
          <div class="ammenity">
            <h3 class="ammenity-heading">Wifi</h3>
            <i class="fa-solid fa-wifi ammenity-icon"></i>
            <p class="ammenity-text">Free 4G & 5G wifi on all rooms.</p>
          </div>
          <div class="ammenity">
            <h3 class="ammenity-heading">Parking</h3>
            <i class="fa-solid fa-square-parking ammenity-icon"></i>
            <p class="ammenity-text">Free parking for all. Vallet available.</p>
          </div>
          <div class="ammenity">
            <h3 class="ammenity-heading">Foods</h3>
            <i class="fa-solid fa-bell-concierge ammenity-icon"></i>
            <p class="ammenity-text">Free breakfast and selected meals.</p>
          </div>
          <div class="ammenity">
            <h3 class="ammenity-heading">Bars</h3>
            <i class="fa-solid fa-wine-bottle ammenity-icon"></i>
            <p class="ammenity-text">Filled with fresh beers & classy wine.</p>
          </div>
          <div class="ammenity">
            <h3 class="ammenity-heading">Pool</h3>
            <i class="fa-solid fa-person-swimming ammenity-icon"></i>
            <p class="ammenity-text">3-sized pools for different body sizes.</p>
          </div>
          <div class="ammenity">
            <h3 class="ammenity-heading">Gym</h3>
            <i class="fa-solid fa-dumbbell ammenity-icon"></i>
            <p class="ammenity-text">Complete with all kinds of accesories.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="rooms" class="rooms-section">
      <div class="container">
        <h2 class="section-heading">Accommodation</h2>
        <div class="rooms">
          <div class="room">
            <header class="room-header">
              <img
                class="room-image"
                src="/img/rooms/couple.jpg"
                alt="Image of a couple room with a single bed"
              />
            </header>
            <main class="room-body">
              <h3 class="room-title">Couples</h3>
              <ul class="room-features">
                <li class="room-feature">
                  <i class="fa-solid fa-bed fa-fw room-icon"></i>
                  <span class="room-text">1 bed</span>
                </li>
                <li class="room-feature">
                  <i class="fa-solid fa-utensils fa-fw room-icon"></i>
                  <span class="room-text">1 meal</span>
                </li>
                <li class="room-feature">
                  <i class="fa-solid fa-square-parking fa-fw room-icon"></i>
                  <span class="room-text">1 parking</span>
                </li>
                <li class="room-feature">
                  <i class="fa-solid fa-credit-card fa-fw room-icon"></i>
                  <span class="room-text">$100</span>
                </li>
              </ul>
            </main>
          </div>
          <div class="room">
            <header class="room-header">
              <img
                class="room-image"
                src="/img/rooms/family.jpg"
                alt="Image of a couple room with a single bed"
              />
            </header>
            <main class="room-body">
              <h3 class="room-title">Family</h3>
              <ul class="room-features">
                <li class="room-feature">
                  <i class="fa-solid fa-bed fa-fw room-icon"></i>
                  <span class="room-text">2 bed</span>
                </li>
                <li class="room-feature">
                  <i class="fa-solid fa-utensils fa-fw room-icon"></i>
                  <span class="room-text">3 meal</span>
                </li>
                <li class="room-feature">
                  <i class="fa-solid fa-square-parking fa-fw room-icon"></i>
                  <span class="room-text">1 parking</span>
                </li>
                <li class="room-feature">
                  <i class="fa-solid fa-credit-card fa-fw room-icon"></i>
                  <span class="room-text">$200</span>
                </li>
              </ul>
            </main>
          </div>
          <div class="room">
            <header class="room-header">
              <img
                class="room-image"
                src="/img/rooms/suite.jpg"
                alt="Image of a couple room with a single bed"
              />
            </header>
            <main class="room-body">
              <h3 class="room-title">Suite</h3>
              <ul class="room-features">
                <li class="room-feature">
                  <i class="fa-solid fa-bed fa-fw room-icon"></i>
                  <span class="room-text">3 bed</span>
                </li>
                <li class="room-feature">
                  <i class="fa-solid fa-utensils fa-fw room-icon"></i>
                  <span class="room-text">4 meal</span>
                </li>
                <li class="room-feature">
                  <i class="fa-solid fa-square-parking fa-fw room-icon"></i>
                  <span class="room-text">2 parking</span>
                </li>
                <li class="room-feature">
                  <i class="fa-solid fa-credit-card fa-fw room-icon"></i>
                  <span class="room-text">$350</span>
                </li>
              </ul>
            </main>
          </div>
        </div>
        <div class="section-link-container">
          <a class="section-link" href="#">See all comparison</a>
        </div>
      </div>
    </section>
    <section class="foods-section">
      <div class="container">
        <h2 class="section-heading">Food Gallery</h2>
        <div class="gallery-outer">
          <div class="gallery-inner">
            <h3 class="gallery-text subsection-heading">Asian</h3>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/asian-duck.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/asian-oden.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/asian-ramen.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/asian-sushi.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/asian-kimchi.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/asian-noodles.jpg"
                alt="Picture of roaste duck"
              />
            </div>
          </div>
          <div class="gallery-inner">
            <h3 class="gallery-text subsection-heading">Indian</h3>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/indian-meat.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/indian-rice.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/indian-roti.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/indian-vada.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/indian-curry.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/indian-biryani.jpg"
                alt="Picture of roaste duck"
              />
            </div>
          </div>
          <div class="gallery-inner">
            <h3 class="gallery-text subsection-heading">Western</h3>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/western-steak.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/western-burger.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/western-pancake.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/western-sausage.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/western-chicken_chop.jpg"
                alt="Picture of roaste duck"
              />
            </div>
            <div class="gallery-image-box">
              <img
                class="gallery-image"
                src="/img/food/western-mac_n_cheese.jpg"
                alt="Picture of roaste duck"
              />
            </div>
          </div>
        </div>
        <div class="section-link-container">
          <a class="section-link" href="#">See full menu</a>
        </div>
      </div>
    </section>
    <section id="loc" class="loc-section">
      <div class="container">
        <h2 class="section-heading">Where to find us</h2>
        <div id="map"></div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="footer-grid">
          <div class="footer-item">
            <p class="footer-head">Company</p>
            <ul class="footer-links">
              <li class="footer-link">
                <img
                  class="footer-logo"
                  src="/logo/new_logo.png"
                  alt="AAHotel logo"
                />
              </li>
              <li class="footer-link footer-icons">
                <a href="#">
                  <i class="fa-brands fa-instagram footer-icon"></i>
                </a>
                <a href="#">
                  <i class="fa-brands fa-facebook footer-icon"></i>
                </a>
                <a href="#">
                  <i class="fa-brands fa-twitter footer-icon"></i>
                </a>
              </li>
              <li class="footer-link">
                Copyright &copy; Amir Aiman <span id="footer-year"></span>.
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <p class="footer-head">Contact</p>
            <ul class="footer-links">
              <li class="footer-link">AAHotel, Washington D.C</li>
              <li class="footer-link">
                <a href="tel:035543403">035543403</a>
              </li>
              <li class="footer-link">
                <a href="mailto:booking@aahotel.com">booking@aahotel.com</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <p class="footer-head">Business</p>
            <ul class="footer-links">
              <li class="footer-link">
                <a href="#">Help</a>
              </li>
              <li class="footer-link">
                <a href="#">Privacy & Legal Notice</a>
              </li>
              <li class="footer-link">
                <a href="#">Be A Partner</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
